.panel-heading.collapse-toggle .panel-title:after {
    float: left;
}

.panel-heading.collapse-toggle.collapsed .panel-title:after {
    content: "\e079";
}

.facet-values {

  .facet-count {
    text-align: left;
  }
  
  .facet-label {
    padding-left: 1em;
    padding-right: 15px;
  }
}